
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
                <div class="card bg-dark text-white">
                        
                      <img src="https://sqbislam.github.io/sqb/assets/img/back.jpg" class="d-block w-100 h-80" alt="...">
                        <div class="card-img-overlay mt-5">
                          <h2 class="text-center font-weight-bold">Hi!</h2>
                          <h5 class="text-center">Welcome to My Page</h5>
                        </div>
                </div>
          </div>
          
          
          <div class="carousel-item">
            <div class="card bg-dark text-white">
                     
                <img src="https://sqbislam.github.io/sqb/assets/img/blog.jpg" class="d-block w-100 h-80" alt="...">
                <div class="card-img-overlay mt-5">
                    <h2 class="text-center font-weight-bold"><a class="text-info" routerLink="/blog">
                      Personal Blog</a>
                    </h2>
                    <p class="lead text-dark text-center">A small glimpse of my journey.</p>
                    
                  </div>
            </div>
          </div>


          <div class="carousel-item">
           
            <div class="card bg-dark text-white">
                     
                <img src="https://sqbislam.github.io/sqb/assets/img/projects.jpg" class="d-block w-100 h-80" alt="...">
                <div class="card-img-overlay mt-5">
                    <h2 class="text-center font-weight-bold"><a class="text-danger" routerLink="/projects">
                      Projects</a>
                    </h2>
                    <p class="lead text-dark text-center">An Overview of my Portfolio</p>
                    
                  </div>
            </div>
          
          
          
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

</div>


<!-- 
  Carousel Ended Basic info portion starts
-->


<hr>

<app-home-details></app-home-details>