<div class="footer">
    <div class="container">
      <h5>Contact Me@:</h5>
      
      <p class="lead">
        sqbislam101@gmail.com <br>
        (+88)01623646984
      </p>
      <br>
      <span class="icons">
          <i class="fa fa-linkedin"></i>
      </span>  
      <span class="icons">
          <i class="fa fa-facebook-square" ></i>
      </span>  
      <span class="icons">
          <i class="fa fa-github" ></i>
      </span>  
      <span class="icons">
          <i class="fa fa-envelope"></i>
      </span>
    
      <p class="lead"><small>&copy; 2019 Saqib Islam </small></p>
    </div>
  </div>