<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h5>Contact Me@:</h5>
      
      <p class="lead">
        sqbislam101@gmail.com <br>
        (+88)01623646984
      </p>
      <br>
      <span style="font-size: 32px; color: gray;">
          <i class="fa fa-linkedin" style="margin-right: 20px"></i>
          <i class="fa fa-facebook-square" style="margin-right: 20px"></i>
          <i class="fa fa-github" style="margin-right: 20px"></i>
          <i class="fa fa-envelope" style="margin-right: 20px"></i>            
        </span>
      
      <p class="lead"><small>&copy; 2019 Saqib Islam </small></p>
    </div>
  </div>