<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mx-auto" style="width: 80%;min-height: 400px">
        <img
          src="../../../assets/img/ideashare/ideashare7.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h6 class="card-text">IdeaShare</h6>
          <p class="card-text lead">
            Full-Stack Online Platform for Sharing/Jotting down Ideas
          </p>

          <p class="card-text">
            Technologies used: NodeJS, ExpressJS, MongoDB.
          </p>

          <div class="container mx-auto">
            <a
              class="btn btn-small btn-info m-2 text-white"
              href="https://gentle-ravine-20974.herokuapp.com/"
              >Live Version</a
            >
            <a
              class="btn btn-small btn-info m-2 text-white"
              href="https://github.com/sqbislam/TourGuide"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mx-auto" style="width: 80%; min-height: 400px">
        <img
          src="../../../assets/img/tourguide/tourguide.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h6 class="card-text">Tour Guide</h6>
          <p class="card-text lead">
            Full Stack Online Platform for Booking Trips
          </p>
          <p class="card-text">
            Technologies used: NodeJS, ExpressJS, MongoDB.
          </p>
          <div class="container mx-auto">
            <a
              class="btn btn-small btn-info m-2 text-white"
              href="https://tourbooking.herokuapp.com/"
              >Live Version</a
            >
            <a
              class="btn btn-small btn-info m-2 text-white"
              href="https://github.com/sqbislam/TourGuide"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Row -->

  <div class="row">
    <div class="col-md-6">
      <div class="card mx-auto" style="width: 80%;min-height: 400px">
        <img
          src="../../../assets/img/neural.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h6 class="card-text">Deep Learning Sandbox</h6>
          <p class="card-text lead">
            A place where I work on implementing all the necessary components
            used by Deep Learning frameworks as well as implement recent popular
            papers published in literature. Trying to get a grasp of the
            underlying principles involved in them.
          </p>

          <p class="card-text">
            Technologies used: Python, PyTorch.
          </p>

          <div class="container mx-auto">
            <a
              class="btn btn-small btn-info m-2 text-white"
              href="https://github.com/sqbislam/Deep-Learning-Sandbox."
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mx-auto" style="width: 80%; min-height: 400px">
        <img
          src="../../../assets/img/numbers.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h6 class="card-text">Build a Credit Scoring Model</h6>
          <p class="card-text lead">
            A Machine Learning Approach to build a robust model to predict a
            clients' Credit Score /Loan Eligibility.
          </p>
          <p class="card-text">
            Technologies used: Pyhon, Sci-kit Learn, Pytorch
          </p>
          <div class="container mx-auto">
            <a
              class="btn btn-small btn-info m-2 text-white"
              href="https://github.com/sqbislam/Credit-Scoring-Model-"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
