

<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img [src]="blog.img" class="card-img min-height" alt="...">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h3>{{blog.title}}</h3>
          <p class="lead card-text">{{blog.desc}}</p>
          <p class="card-text"><small class="text-muted">{{blog.date.toDate() | date:'medium'}}</small></p>
          <a href="#" [routerLink]="['/blog/'+blog.id]"  class="btn btn-sm btn-info float-right m-3">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>