
<div class="row">
    <div class="col-md-7">
    <div class="card text-white bg-dark m-4 p-4">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/G3HxbJQ/dp.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Saqib Islam</h5>
              <h6 class="card-text">Computer Science & Engineering Student</h6>
              <br>
              <p class="card-text"><em class="lead">A bit about myself.</em><br> Self-Driven,
                Passionate CSE graduate.<br> 
                Self Proclaimed Caffeine addict. Social. Approachable. Reliable. Never ready to give up.
                <br>  
                <br>
              
    
              <span class="icons">
                <a href="https://www.linkedin.com/in/saqib-islam"><i class="fa fa-linkedin"></i></a>
              </span>  
              <span class="icons">
                <a href="https://www.facebook.com/sqbislam"><i class="fa fa-facebook-square" ></i></a>
              </span>  
              <span class="icons">
                <a href="https://github.com/sqbislam/"><i class="fa fa-github" ></i></a>
              </span>  
              <span class="icons">
                <a href="mailto:sqbislam101@gmail.com"><i class="fa fa-envelope"></i></a>
              </span>
              <span class="icons">   
                <a class="btn btn-sm btn-primary">Resume</a>         
              </span>
              
              </p>
    
            </div>
          </div>
        </div>
    </div>
    </div>
    
    <div class="col-md-5">
      <div class="card  m-4 p-4">
        <div class="card-header bg-dark text-white">
          <h5>Programming Language Proficiency </h5>
        </div>
        <div class="card-body">
          <!-- Singnificant Experience -->
          <h6>Significant Experience </h6> 
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <br>
          
          <ul>
            <li>Java</li>
            <li>Python</li>
            <li>JavaScript</li>
          </ul>
        
        <br>
        <!-- Moderate Experience -->
        <h6>Moderate Experience </h6> 
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <br>
          <ul>
            <li>PHP</li>
            <li>C++</li>
            <li>C</li>
            <li>Android</li>
            <li>SQL</li>
          </ul>
          <br>
          <p class="lead">
            Also have experience working with <br><br>
            JS frameworks:
            <span class="badge badge-pill badge-dark" >NodeJS </span>
            <span class="badge badge-pill badge-danger" >AngularJS </span> 
            <span class="badge badge-pill badge-dark" >ExpressJS </span> 
            <br>
            Java Frameworks: 
            <span class="badge badge-pill badge-dark" >Spring</span>
            <span class="badge badge-pill badge-info" >Hibernate</span>
            <br>
    
            Databases: 
            <span class="badge badge-pill badge-success" >MongoDB</span>
            <span class="badge badge-pill badge-dark" >Firebase </span>
            <span class="badge badge-pill badge-dark" >MySQL</span>
            <br>
    
            Data Science: 
            <span class="badge badge-pill badge-dark" >Jupyter Notebook</span> 
            <span class="badge badge-pill badge-warning" >Google Collab</span>
          </p>
        </div>
      </div>
    
    
    
    </div>
    </div>
    